USE [master]
GO
/****** Object:  Database [IM22]    Script Date: 10/16/2022 12:11:53 AM ******/
CREATE DATABASE [IM22]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IM22', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IM22.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IM22_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\IM22_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IM22].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IM22]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inHoaDons]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inHoaDons](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[customerID] [nvarchar](max) NULL,
	[quantity] [nvarchar](max) NULL,
	[diachi] [nvarchar](max) NULL,
	[phone] [nvarchar](max) NULL,
	[staticid] [int] NOT NULL,
	[date] [nvarchar](max) NULL,
	[hangmua] [nvarchar](max) NULL,
	[giatien] [nvarchar](max) NULL,
	[MaNV] [nvarchar](max) NULL,
	[loaihangmua] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.inHoaDons] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVienInfoes]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienInfoes](
	[MaNhanVien] [nvarchar](128) NOT NULL,
	[id] [int] NOT NULL,
	[TenNhanVien] [nvarchar](max) NULL,
	[ChucVu] [nvarchar](max) NULL,
	[NgaySinh] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[MatKhau] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NhanVienInfoes] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhapHangHoas]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhapHangHoas](
	[TenHang] [nvarchar](128) NOT NULL,
	[SoLuongNhap] [nvarchar](max) NULL,
	[NhaCungCap] [nvarchar](max) NULL,
	[LoaiHangHoa] [nvarchar](max) NULL,
	[SoTien] [nvarchar](max) NULL,
	[id] [int] NOT NULL,
	[SoTienBan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.NhapHangHoas] PRIMARY KEY CLUSTERED 
(
	[TenHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[inHoaDons] ON 

INSERT [dbo].[inHoaDons] ([orderID], [customerID], [quantity], [diachi], [phone], [staticid], [date], [hangmua], [giatien], [MaNV], [loaihangmua]) VALUES (16, N'Phuoc', N'1000', N'3', N'321', 0, N'12/2/2002', N'Hong dao', N'31000', NULL, NULL)
INSERT [dbo].[inHoaDons] ([orderID], [customerID], [quantity], [diachi], [phone], [staticid], [date], [hangmua], [giatien], [MaNV], [loaihangmua]) VALUES (17, N'Phuoc', N'100', N'123', N'212', 0, N'10/14/2022 10:00 PM', N'131', N'32100', NULL, NULL)
INSERT [dbo].[inHoaDons] ([orderID], [customerID], [quantity], [diachi], [phone], [staticid], [date], [hangmua], [giatien], [MaNV], [loaihangmua]) VALUES (18, N'Nam', N'10', N'30', N'231', 0, N'10/14/2022 10:01 PM', N'Hồng đàoz', N'310', NULL, NULL)
SET IDENTITY_INSERT [dbo].[inHoaDons] OFF
GO
INSERT [dbo].[NhanVienInfoes] ([MaNhanVien], [id], [TenNhanVien], [ChucVu], [NgaySinh], [SoDienThoai], [Email], [MatKhau]) VALUES (N'NV01', 1, N'Phuoc', N'Nhân viên', N'12/02/2002', N'0939028961', N'rain@gmail.com', N'123')
INSERT [dbo].[NhanVienInfoes] ([MaNhanVien], [id], [TenNhanVien], [ChucVu], [NgaySinh], [SoDienThoai], [Email], [MatKhau]) VALUES (N'NV02', 0, N'Phuocc', N'Quản lí', N'12/4/2002', N'0939028961', N'2@gmail.com', N'123')
GO
INSERT [dbo].[NhapHangHoas] ([TenHang], [SoLuongNhap], [NhaCungCap], [LoaiHangHoa], [SoTien], [id], [SoTienBan]) VALUES (N'123', N'123', N'123', N'Hàng thịt', N'321', 0, N'321')
INSERT [dbo].[NhapHangHoas] ([TenHang], [SoLuongNhap], [NhaCungCap], [LoaiHangHoa], [SoTien], [id], [SoTienBan]) VALUES (N'131', N'21', N'231', N'321', N'312', 0, N'321')
INSERT [dbo].[NhapHangHoas] ([TenHang], [SoLuongNhap], [NhaCungCap], [LoaiHangHoa], [SoTien], [id], [SoTienBan]) VALUES (N'213', N'123', N'213', N'Hàng thịt', N'321', 0, N'321')
GO
/****** Object:  StoredProcedure [dbo].[getDataHD]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getDataHD]
as
begin
	select * from dbo.inHoaDons

end
GO
/****** Object:  StoredProcedure [dbo].[getDataHDI]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   proc [dbo].[getDataHDI] @orderID int
as
begin
	select * from dbo.inHoaDons where orderID = @orderID

end
GO
/****** Object:  StoredProcedure [dbo].[loginaccount]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[loginaccount]
AS
SELECT * from dbo.NhanVienInfoes
GO
/****** Object:  StoredProcedure [dbo].[loginForm]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[loginForm] @username varchar(50), @pass varchar(50)
as
begin
select * from dbo.NhanVienInfoes where MaNhanVien=@username AND MatKhau = @pass
end
GO
/****** Object:  StoredProcedure [dbo].[loginUsers]    Script Date: 10/16/2022 12:11:53 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[loginUsers] @MaNhanVien nvarchar, @SoDienThoai nvarchar
as
begin
	select * from dbo.NhanVienInfoes where MaNhanVien = @MaNhanVien AND SoDienThoai = @SoDienThoai

end
GO
USE [master]
GO
